/*This file stores all the css that is common to all FreeTime Pages*/

h1{

}

.container{
	margin-bottom: 50px;
}

a:hover{
	text-decoration: underline;
}

a{
	text-decoration: none;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
}
