<!DOCTYPE html>
<html>
<head>
	<title>FreeTime - Login</title>
	<meta charset="UTF-8">
	<meta name="author" content="cpf5193">
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/reset.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/login.css">

</head>
<body>
	<div class="container"> <!--Container is a bootstrap class-->
		<h1>FreeTime</h1>
 		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Log In</h2>
			</div>
			<div class="panel-body">
				<form class="form-signin">
			        <input type="text" class="form-control" placeholder="Username" autofocus>
			        <input type="password" class="form-control" placeholder="Password">
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	     		</form>
				<p><a class="recov_pass" href="#">Forgot Password</a>?</p>
			</div>
		</div>
		<p><a href="#">Sign Up</a> for an account</p>
	</div> <!--End of container-->

	<footer>
		<p>Created By: Brandon Edgren, Chip Fukuhara, Connor Moseley, Nick Reiter, Alec Wagner, Shen Wang<br>(c)FreeTime 2013</p>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>