/*
Christon Fukuhara
CSE 154 BF/BU
Homework Assignment 3
October 17, 2012
*/
body{
	background-image: url("hw3_images/moviebg.png");
	font-family: "Verdana", "Tahoma", sans-serif;
	margin-bottom: 60px;
}
body, #rightMidCol, .outOf, #critics p:nth-child(odd){font-size: 8pt;}
#topBanner{top: 0px;}
#botBanner{clear: right;}
#botBanner, #validators{bottom: 0px;}
.bodyBanner{
	width: 100%;
	background-image: url("hw3_images/rancidbannerbg.png");
	left: 0px;
}
.bodyBanner, h1, #botMidCol{text-align: center;} 
.bodyBanner img, .bodyBanner{height: 50px;}
.bodyBanner img, #middleBox{margin-left: auto; margin-right: auto;}
h1, .midBanner, dt, #critics p:nth-child(odd){font-weight: bold;}
h1{
	font-size: 24pt;
	font-family: Tahoma, Verdana, sans-serif;
	text-shadow: 3px 3px #999999;
	margin-top: 72px;
}
#middleBox{
	border-radius: 20px;
	width: 800px;
	border: 4px solid gray;
}
#middleBox, #critics, #critics p, #critics p:nth-child(odd){overflow: hidden;}
#critics, #critics img, #leftMidCol{float: left;}
#critics{width:550px;}
.midBanner{
	background-image: url("hw3_images/rottenlargebg.png");
	font-size: 48pt;
	color: red;
}
.ratingimg{vertical-align: bottom;}
.ratingimg, #critics img{margin-right: 5px;}
.midBanner, #rottonimg{height: 83px;}
#leftMidCol, #midMidCol{
	width: 47%;
	margin-left: 2%;
}
#critics p:nth-child(odd){
	padding: 8px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: #E8DC9B;
}
#critics p:nth-child(even){margin-bottom: 20pt;}
#leftMidCol span, #midMidCol span{font-style: italic;}
#midMidCol, #rightMidCol{float: right;}
#midMidCol{margin-right: 2%;}
#rightMidCol, #botMidCol{background-color: #A2B964;}
#rightMidCol{
	width: 250px;
	font-family: "Arial", sans-serif;
}
#validators{
	width: 88px;
	right: 0px;
	margin-bottom: 50px;
}
#validators, .bodyBanner{position: fixed;}
#validators a{opacity: 0.5;}
#validators a:hover{opacity: 1.0;}
dt{margin-top: 10pt;}
dl{padding-left: 10pt; padding-right: 10pt;}
#botMidCol{
	clear: both;
	margin-bottom: 0px;
	padding: 5px;
}
#links{
	list-style-type: none;
	padding-left: 0px;
}
.outOf{
	color: white;
	font-style: normal;
	font-weight: normal;
}
.w3c_css, .w3c_html, .critic, .fresh_thumb, .rotten, .rotten_thumb, .fresh{background: url(hw3_images/sprite.png) no-repeat;}
.w3c_css, .w3c_html{
	width: 88px;
	height: 31px;
}
.w3c_css{background-position: -1px -116px ;}
.w3c_html{background-position: 0 -84px ;}
.critic{
	background-position: -1px -148px ;
	width: 35px;
	height: 33px;
}
.fresh_thumb, .rotten_thumb{
	width: 25px;
	height: 25px;	
}
.fresh_thumb{background-position: -70px -152px ;}
.rotten{background-position: -1px 0;}
.rotten_thumb{background-position: -39px -153px ;}
.rotten, .fresh{
	width: 98px;
	height: 83px;	
}
.fresh{background-position: 0 -186px ;}

